# Temp build by fresh
tmp/
# Config file
config.toml
storage/
mysql-storage/
mongodb-storage/
postgresql-storage/
gasper-mongodb-storage/
gasper-redis-storage/
redis-storage/
__debug_bin
bin/
.vscode/
site/
.DS_Store
coverage.txt
releases/
gasper*.log
seaweed/
lizardfs/
lizardfs-storage/
